body,html{
	margin:0px;
	padding:0px;
	background-color:#E9E8E9;
}
body *{
	box-sizing:border-box;
	font-family:"Lores" ,sans-serif;
	color:#141414;
}
@font-face {
  font-family: "Lores";
  src: url("../fonts/LoRes12OT-Regular.ttf");
}
@font-face {
  font-family: "Lores21";
  src: url("../fonts/LoRes21OTSerif-Regular.ttf");
}
@font-face {
  font-family: "Lores22";
  src: url("../fonts/LoRes22OTSerif-Bold.ttf");
}
@font-face {
  font-family: "Handwriting";
  src: url("../fonts/AdobeHandwriting-Ernie.ttf");
}
button{
	outline:none;
	border:0px;
}
.container{
	max-width:2030px;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
	width: 100%;
}
.group__input{
	&>input{
		width: 100%;
		height: 48px;
		border:3px solid #141414;
		background-color:#fff;
		color:#141414;
		font-size:27px;
		border-radius:250px;
		padding-left:20px;
		padding-right:20px;
		outline:none;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #141414;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: #141414;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: #141414;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: #141414;
		}
	}
}
.cart__wrapper{
	position: fixed;
	top:0px;
	right: -100%;
	width: 100%;
	max-width:650px;
	transition:.4s ease all;
	z-index: 4;
	overflow:hidden;
	& .inner__cart{
		min-height:100%;
		width: 100%;
		background-color:#E9E8E9;
		padding-top:50px;
		padding-bottom:30px;
		padding-left:20px;
		padding-right:20px;
		position: relative;
		& form{
			min-height:calc(100% - 80px);
			display: flex;
			flex-direction:column;
			height:100%;
			justify-content:space-between;
		}
		& .cart__bottom{
			
			margin-left: -20px;
			padding-top:20px;
			border-top:1px solid #141414;
			padding-left:20px;
			padding-right:20px;
			width: calc(100% + 40px);
			&>p{
				margin:0px;
				font-size:24px;
				color:#141414;
				font-weight:400;
			}
			&>input{
				font-size:24px;
				width: 100%;
				color:#141414;
				background-color:transparent;
				outline:none;
				border:0px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #141414;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #141414;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #141414;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #141414;
				}
			}
			&>button{
				width: 100%;
				display: flex;
				align-items:center;
				justify-content:center;
				height: 85px;
				background-color:#141414;
				border-radius:250px;
				font-size:54px;
				color:#fff;
				font-weight:400;
				transition:.4s ease all;
				cursor:pointer;
				margin-top:10px;
				&:hover{
					opacity:.7;
				}
			}
		}
		& .products__wrapper{
			margin-top:35px;
			width: calc(100% + 20px);
			padding-right:20px;
			max-height:calc(100% - 528px);
			overflow-y:auto;
			&::-webkit-scrollbar {
			  width: 6px;
			}
			 
			&::-webkit-scrollbar-track {
			  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}
			 
			&::-webkit-scrollbar-thumb {
			  background-color:#141414;
			  border-radius:4px;
			}
			&>.elem__product{
				display: flex;
				align-items:center;
				justify-content:flex-start;
				padding-left:15px;
				padding-right: 15px;
				margin-bottom:25px;
				&>.product__desc{
					width: 100%;
					& .bottom__product{
						margin-top:20px;
						display: flex;
						align-items:center;
						justify-content:space-between;
						& .quantity{
							display: flex;
							align-items:center;
							justify-content:center;
							position: relative;
							width: 145px;

							&>.minus__quantity{
								min-width:35px;
								max-width:35px;
								min-height:35px;
								max-height:35px;
								left: 7px;
							}
							&>.plus__quantity{
								min-width:35px;
								max-width:35px;
								min-height:35px;
								max-height:35px;
								right: 7px;
							}
							&>input{
								width: 100%;
								height: 45px;
								width: 145px;
								text-decoration: none;
								outline:none;
								font-size:32px;
								line-height:32px;
								text-align:center;
								border:2px solid #141414;
								border-radius:35px;
							}
							&>a{
								font-size:32px;
								display: inline-flex;
								align-items:center;
								justify-content:center;
								text-decoration: none;
								position: absolute;
								margin-bottom:3px;
							}
						}
						&>a{

							font-size:16px;
							font-weight:400;
							text-decoration: none;
							position: relative;
							&:before{
								content:"";
								position: absolute;
								left: 0px;
								bottom:-3px;
								width: 100%;
								height: 2px;
								background-color:#141414;
							}
						}
					}
					&>span{
						font-size:24px;
						font-weight:bold;
						display: inline-flex;
					}
					&>h6{
						margin-top: 0px;
						margin-bottom: 0px;
						font-size:24px;
						font-weight:400;
						margin-bottom: -10px;
					}
				}
				&>.product__image{
					display: inline-flex;
					align-items:center;
					justify-content:center;
					min-width:135px;
					max-width:135px;
					min-height:135px;
					max-height:135px;
					margin-right:40px;
					&>img{
						max-width:100%;
						max-height: 135px;
					}
				}
			}
		}
		& .cart__tip{
			margin-top:15px;
			width: 100%;
			display: flex;
			align-items:center;
			justify-content:center;
			text-align:center;
			&>p{
				border:1px solid #141414;
				width: 100%;
				display: flex;
				align-items:center;
				justify-content:center;
				background-color:#fff;
				border-radius:250px;
				margin:0px;
				font-family:'Lores21' ,sans-serif;
				font-weight:400;
				padding:5px 15px;
				font-size:32px;
			}
		}
		&  .cart__desc{
			border-bottom:1px solid #141414;
			width: calc(100% + 40px);
			margin-left: -20px;
			padding-left:20px;
			padding-right: 20px;
			margin-top:15px;
			&>h6{
				font-family:'Lores21' ,sans-serif;
				font-weight:400;
				margin:0px;
				font-size:54px;

			}
		}
		& .top__cart{
			position: relative;
			display: flex;
			align-items:center;
			justify-content:center;
			&>.logo__wrapper{
				display: inline-flex;
				align-items:center;
				transition:.4s ease all;
				&:hover{
					opacity:.7;
				}
				&>img{
					max-width:225px;
				}
			}
			&>.close__cart{
				display: inline-flex;
				align-items:center;
				justify-content:center;
				position: absolute;
				left: 0px;
				transition:.4s ease all;
				&:hover{
					opacity:.7;
				}
				&>img{
					max-width:38px;
				}
			}
		}
	}
}
.top__info{
	padding:15px 0px;
	background-color:#141414;
	position: relative;
	z-index: 3;
	& .outer__top{
		&>p{
			text-align:center;
			margin:0px;
			font-size: 18px;
			font-weight:bold;
			color:#fff;
			text-transform: uppercase;
		}
	}
}

header{
	margin-top:50px;
	position: relative;
	z-index: 3;
	& .header__menu{
		border:3px solid #141414;
		padding:6px;
		background-color:#fff;
		width: 100%;
		border-radius:50px;
		position: relative;
		min-height:66px;
		display: flex;
		align-items:center;
		justify-content:center;
		&>a{
			position: absolute;
			left: 4px;
			height:53px;
			background-color:#141414;
			padding:5px 15px;
			border-radius:250px;
			display: inline-flex;
			align-items:center;
			justify-content:center;
			font-size:40px;
			color:#fff;
			text-decoration: none;
			font-weight:400;
			transition:.4s ease all;
			&:hover{
				opacity:.7;
			}
		}
		& .cart__info{
			top:0px;
			right: 4px;
			position: absolute;
			&>a{
				display: inline-flex;
				align-items:center;
				justify-content:center;
				text-decoration: none;
				font-size:40px;
				color:#141414;
				&>span{
					margin-left: 7px;
					font-size:40px;
					color:#fff;
					min-width:53px;
					max-width:53px;
					min-height:53px;
					max-height:53px;
					border-radius:250px;
					background-color:#141414;
					display: inline-flex;
					align-items:center;
					justify-content:center;
				}
			}
		}
		& ul{
			padding:0px;
			list-style-type: none;
			margin:0px;
			display: flex;
			justify-content:center;
			align-items:center;
			&>li{
				margin-right:40px;
				&>a{
					font-size:40px;
					line-height: 40px;
					color:#141414;
					font-weight:400;
					text-decoration: none;
					position: relative;
					&:hover{
						&:before{
							width: 100%;
						}
					}
					&:before{
						content:"";
						position: absolute;
						left: 0px;
						right: 0px;
						margin-left:auto;
						margin-right:auto;
						width: 0px;
						height: 3px;
						background-color:#141414;
						bottom:5px;
						transition:.4s ease all;
					}
					&.active__header{
						&:before{
							width: 100%;
						}
					}
				}
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}
	& .header__top{
		display: flex;
		justify-content:center;
		align-items:center;
		margin-bottom:50px;
		& .header__logo{
			display: inline-flex;
			align-items:center;
			justify-content:center;
			&>a{
				display: inline-flex;
				align-items:center;
				justify-content:center;
				transition:.4s ease all;
				&:hover{
					opacity:.7;
				}
				&>img{
					max-width: 390px;
				}
			}
		}
	}
}
footer{
	margin-top: 80px;
	padding-top:100px;
	padding-bottom:70px;
	background-color:#141414;
	& .outer__footer{
		& .bottom__footer{
			display: flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			&>p{
				margin:0px;
				color:#fff;
				font-size:16px;
				font-weight:bold;
			}
			& ul{
				padding:0px;
				list-style-type: none;
				display: flex;
				align-items:center;
				justify-content:center;
				&>li{
					margin-right:12px;
					&:last-child{
						margin-right: 0px;
					}
					&>a{
						display: inline-flex;
						align-items:center;
						justify-content:center;
						transition:.4s ease all;
						min-width:36px;
						max-width:36px;
						min-height:36px;
						max-height:36px;
						border-radius:250px;
						color:#141414;
						font-size:18px;
						background-color:#E9E8E9;
						text-decoration: none;
						&:hover{
							opacity:.7;
						}
					}
				}
			}
		}
		& .top__footer{
			margin-bottom:100px;
			display:flex;
			align-items:flex-start;
			justify-content:space-between;
			position: relative;
			width: 100%;
			& .footer__logo{
				position: absolute;
				left: 0px;
				right: 0px;
				left: 50%;
			    transform: translate(-50%, 0);
			    max-width:245px;
			    &>a{
			    	display: inline-flex;
			    	align-items:center;
			    	justify-content:center;
			    	transition:.4s ease all;
			    	&:hover{
			    		opacity:.7;
			    	}
			    	&>img{
			    		max-width:245px;
			    	}
			    }
			}
			& .footer__form{
				position: relative;
				z-index: 2;
				max-width:600px;
				& form{
					&>p{
						margin-top:15px;
						font-size:16px;
						font-weight:400;
						color:#fff;
						text-align: center;
						& a{
							font-weight:bold;
							text-decoration: none;
							color:#fff;
							transition:.4s ease all;
							&:hover{
								opacity:.7;
							}
						}
					}
					& .field__wrapper{
						display: flex;
						align-items:center;
						justify-content:center;
						width: 100%;

						& .group__submit{
							&>button{
								border-radius:250px;
								font-size: 27px;
								color:#fff;
								border:3px solid #fff;
								background-color:#141414;
								cursor:pointer;
								min-width:220px;
								min-height: 48px;
								display: inline-flex;
								align-items:center;
								justify-content:center;
								transition:.4s ease all;
								&:hover{
									background-color:#fff;
									color:#141414;
								}
							}
						}
						& .group__input{
							margin-right:15px;
							&>input{
								text-align:center;
							}
						}
					}
				}
				&>p{
					text-align: center;
					margin-top: 0px;
					margin-bottom:15px;
					font-size:22px;
					line-height: 32px;
					color:#fff;
					font-weight:400;
				}
			}
			& .footer__links{
				display: flex;
				align-items:flex-start;
				position: relative;
				z-index: 2;
				justify-content:flex-start;
				&>.column__link{
					margin-right:85px;
					&>h6{
						border-bottom:1px solid #fff;
						font-size: 29px;
						color:#fff;
						font-weight:400;
						margin:0px;
					}
					& ul{
						padding:0px;
						list-style-type: none;
						margin:0px;
						margin-top:25px;
						display: flex;
						flex-direction:column;
						align-items:flex-start;
						&>li{
							&>a{
								white-space: nowrap;
								font-size: 22px;
								font-weight:400;
								color:#fff;
								text-decoration: none;
								transition:.4s ease all;
								&:hover{
									opacity:.7;
								}
							}
						}
					}
					&:last-child{
						margin-right: 0px;
					}
				}
			}
		}
	}
}
.gallery__wrapper{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color:#fff;
	& .outer__gallery{
		display: grid;
		grid-template-columns:repeat(3, 1fr);
		grid-column-gap:25px;
		grid-row-gap:25px;
		& .elem__gallery{
			overflow:hidden;
			display: flex;
			align-items:center;
			justify-content:center;
			border-radius:35px;
			border:1px solid #141414;
			position: relative;
			 &>img{
			 	max-width:100%;
			 	height: 100%;
			 	object-fit:cover;
			 	width: 100%;
			 }
		}
	}
}
.float__menu{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color:#E9E8E9;
	display: none;
	&>.inner__float{
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		height: 100%;
		& .button__cart{
			width: 100%;
			display: flex;
			align-items:center;
			justify-content:center;
			margin-top:30px;
			max-width: 240px;
			margin-left:auto;
			margin-right:auto;
			&>a{
				font-size:32px;
				text-decoration: none;
				display: inline-flex;
				align-items:center;
				justify-content:center;
				border:2px solid #141414;
				border-radius:250px;
				width: 100%;
			}
		}
		& .socials__float{
			position: absolute;
			left: 0px;
			right: 0px;
			margin-left:auto;
			margin-right:auto;
			bottom:20px;
			&>p{
				text-align:center;
				margin:0px;
				font-size:15px;
			}
			& ul{
				padding:0px;
				list-style-type: none;
				display: flex;
				align-items:center;
				justify-content:center;
				&>li{
					margin-right:12px;
					&:last-child{
						margin-right: 0px;
					}
					&>a{
						display: inline-flex;
						align-items:center;
						justify-content:center;
						transition:.4s ease all;
						min-width:36px;
						max-width:36px;
						min-height:36px;
						max-height:36px;
						border-radius:250px;
						background-color:#141414;
						font-size:18px;
						& i{
							color:#E9E8E9;
						}
						text-decoration: none;
						&:hover{
							opacity:.7;
						}
					}
				}
			}
		}
		&>ul{
			padding:0px;
			list-style-type: none;
			margin:0px;
			display: flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			&>li{
				&>a{
					font-size:32px;
					text-decoration: none;
					color:#141414;
				}
			}
		}
	}
}
.overlay{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color:rgba(0,0,0,.7);
}
.learn__more{
	margin-top:100px;
	& .learn__top{
		background-color:#141414;
		height: auto;
		position: relative;
		padding-top:90px;
		padding-bottom: 70px;
		& .main__logos{
			padding-left:15px;
			padding-right:15px;
			& ul{
				list-style-type: none;
				margin:0px;
				padding:0px;
				display: flex;
				align-items:center;
				justify-content:center;
				&>li{
					margin-right:70px;
					display: inline-flex;
					&>img{
						max-width:100%;
					}
					&:last-child{
						margin-right: 0px;
					}
				}
			}
		}
		& .float__box{
			& .head__float{
				background-color:#141414;
				padding:5px 15px;
				position: relative;
				top:-1px;
				left: -1px;
				width: calc(100%  + 2px);
				border-top-left-radius:15px;
				border-top-right-radius:15px;
				&>h6{
					text-align: justify;
					font-size:16px;
					font-weight:bold;
					color:#fff;
					margin:0px;
					letter-spacing: 1.42px;
				}
			}
			position: absolute;
			left: 0px;
			right: 0px;
			margin-left:auto;
			margin-right:auto;
			top:-45px;
			background-color:#fff;
			border:3px solid #141414;
			border-radius:20px;
			max-width:340px;
			display: flex;
			flex-direction:column;
			z-index: 2;
			& .content__float{
				padding:8px 15px;
				&>p{
					margin:0px;
					font-size:16px;
					line-height: 19px;
					text-align: justify;
				}
			}
		}
	}
	& .outer__learn{
		padding-top: 90px;
		padding-bottom:150px;
		& .learn__box{
			margin-top:100px;
			padding:120px 150px;
			background-color:#fff;
			border:3px solid #141414;
			border-radius:25px;
			display: flex;
			justify-content:space-between;
			&>.learn__right{
				& form{
					& .already__applied{
						display: flex;
						justify-content:center;
						align-items:center;
						text-align:center;
						&>p{
							margin-bottom: 0px;
							font-size:16px;
							& a{
								font-weight: bold;
								text-decoration: none;
								transition:.4s ease all;
								&:hover{
									opacity:.7;
								}
							}
						}
					}
					& .field__wrapper{
						display: flex;
						align-items:center;
						justify-content:space-between;
						& .group__input{
							&>input{
								text-align:center;
							}
						}
						& .group__submit{
							margin-left:15px;
							&>button{
								border-radius:250px;
								font-size: 27px;
								color:#fff;
								background-color:#141414;
								cursor:pointer;
								min-width:230px;
								min-height: 48px;
								display: inline-flex;
								white-space: nowrap;
								align-items:center;
								justify-content:center;
								transition:.4s ease all;
								&:hover{
									opacity:.7;
								}
							}
						}
					}
					&>span{
						font-size:60px;
						font-family:"Lores22" ,sans-serif;
						font-weight:bold;
						display: flex;
						justify-content:center;
						align-items:center;
						border-radius:20px;
						background-color:#EDEDED;
						line-height:60px;
						margin-bottom:15px;
					}
					& .click__button{
						display: flex;
						align-items:center;
						justify-content:center;
						margin-bottom:20px;
						text-align:center;
						&>a{
							text-decoration: none;
							position: relative;
							&:before{
								content:"";
								position: absolute;
								left: 0px;
								bottom:-1px;
								width: 100%;
								height: 1px;
								background-color:#141414;
							}
							font-size:16px;
							font-weight:400;
							& span{
								font-weight:bold;
							}
						}
					}
				}
				&>p{
					text-align:center;
					margin-top: 0px;
					font-size:30px;
					line-height:36px;
					font-family:"Lores21" ,sans-serif;
				}
			}
			&>.learn__left{
				max-width:560px;
				width: 100%;
				&>h6{
					margin-top: 0px;

					font-size: 29px;
					line-height:36px;
					font-family:"Lores21" ,sans-serif;
					margin-bottom:25px;
				}
				&  .watermark{
					display: flex;
					align-items:center;
					justify-content:flex-start;
					margin-top: 50px;
					& .watermark__desc{
						padding-left:20px;
						&>span{
							font-size: 47px;
							font-family:"Handwriting"  ,sans-serif;
							line-height: 40px;
						}
						&>h6{
							margin:0px;
							font-size:16px;
							font-weight:bold;
						}
						&>p{
							margin:0px;
							font-size:16px;
							font-weight:400;
						}
					}
					&>span{
						display: inline-flex;
						&>img{
							max-width: 95px;
						}
					}
				}
				&>p{
					margin:0px;
					font-size:16px;
					line-height:19px;
					color:#141414;
				}
			}
			&>.learn__right{
				max-width:590px;
				width: 100%;
			}
			&>.spacer{
				margin:0px 70px;
				min-width:3px;
				background-color:#141414;
			}
		}
		& .learn__head{
			&>a{
				display: inline-flex;
				width: 220px;
				height: 75px;
				align-items:center;
				justify-content:center;
				background-color:#141414;
				border-radius:250px;
				transition:.4s ease all;
				&:hover{
					opacity:.7;
				}
				&>img{
					max-width:160px;
				}
			}
			text-align:center;
			max-width:390px;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			display: flex;
			flex-direction:column;
			justify-content: center;
			align-items:center;
			&>p{
				margin-top: 0px;
				margin-bottom:20px;
				font-size:22px;
				color:#141414;
			}
		}
	}
}
.inner__element{
	margin-top:40px;
	& .outer__element{
		border:3px solid #141414;
		border-radius:30px;
		background-color:#fff;
		position: relative;
		& .bottom__element{
			display: grid;
			grid-template-columns:repeat(2 ,1fr);
			grid-column-gap:80px;
			padding:40px 120px;
			padding-bottom: 70px;
			& .desc__product{
				&>p{
					margin-top: 0px;
					margin-bottom:15px;
					& span{
						font-weight:bold;
					}
					font-size:22px;
					&:last-child{
						margin-bottom: 0px;
					}
				}
			}
			
		}
		& .top__element{
			display: flex;
			border-bottom:3px solid #141414;

			& .slick-dots{
				position: static;
				margin-top:35px;
				& li{
					width: auto;
					height: auto;
					margin:0px;
					padding:0px;
					margin-right: 7px;
					&:last-child{
						margin-right: 0px;
					}
					&.slick-active{
						& button{
							width: 85px;
							max-width:85px;
							min-width: 85px;
						}
					}
					& button{
						width:auto;
						height: auto;
						background-color:#000;
						min-width:12px;
						max-width:12px;
						min-height:12px;
						max-height:12px;
						border-radius:50px;
						transition:.4s ease all;
						&:before{
							content:none;
						}
					}
				}
			}
			& .slider__images{
				& .elem__slide{
					display: flex;
					justify-content:center;
					align-items:center;
					padding-left: 30px;
					padding-right: 30px;
					&>img{
						max-width: 490px;
						width: 100%;
						max-height:640px;
						object-fit:contain;
					}
				}
			}
			&>div{
				width: 50%;
				padding:120px 0px;
				&.element__slider{
					padding:200px 0px;
				}
				&.element__main{
					padding-left:15px;
					padding-right: 15px;
					& form{
						&>span.logo__wrap{
							margin-bottom:30px;
							display: inline-flex;
							&>img{
								max-width:105px;
							}
						}
						& .bottom__info{
							margin-top:20px;
							&>p{
								text-align:center;
								font-size:20px;
								font-weight:bold;

							}
							display: flex;
							flex-direction:column;
							justify-content:center;
							align-items:center;
							&>a{
								display: inline-flex;
								align-items:center;
								justify-content:center;
								width: 150px;
								height: 50px;
								transition:.4s ease all;
								&:hover{
									opacity:.7;
								}
								border-radius:250px;
								background-color:#141414;
								&>img{
									max-width:80%;
								}
							}
						}
						& .size__chart{
							margin-top:20px;
							&>a{
								font-size: 18px;
								font-weight:bold;
							}
						}
						& .quantity__wrapper{
							max-width: 475px;
							margin-left:auto;
							margin-right: auto;
							& .group__submit{
								display: flex;
								justify-content:center;
								align-items:center;
								&>button{
									display: inline-flex;
									width: 100%;
									height: 75px;
									background-color:#141414;
									border-radius:50px;
									align-items:center;
									justify-content:center;
									font-size:44px;
									color:#fff;
									font-family:"Lores21" ,sans-serif;
									cursor:pointer;
									transition:.4s ease all;
									&:hover{
										opacity:.7;
									}
								}
							}
							& .group__input{
								margin-bottom:15px;
								&>input{
									text-align:center;
									height: 75px;
									font-size:44px;
								}
							}
						}
						&>ul{
							padding:0px;
							list-style-type: none;
							margin:0px;
							display: flex;
							align-items:center;
							justify-content:center;
							margin-top:20px;
							margin-bottom:50px;
							flex-wrap:wrap;
							margin-left: -6px;
							&>li{
								margin:4px 6px;
								&.active__size{
									&>a{
										background-color:#141414;
										color:#fff;
									}
								}
								&:last-child{
									margin-right: 0px;
								}
								display: inline-flex;
								&>a{
									display: inline-flex;
									align-items:center;
									justify-content:center;
									min-width:70px;
									max-width:70px;
									min-height:70px;
									max-height:70px;
									border:2px solid #000;
									border-radius:250px;
									font-size: 34px;
									text-decoration: none;
									transition:.4s ease all;
									&:hover{
										background-color:#141414;
										color:#fff;
									}
								}
							}
						}
						display: flex;
						flex-direction:column;
						align-items:center;
						justify-content:center;
						&>h2{
							margin-top: 0px;
							font-size:64px;
							font-family:'Lores22',sans-serif;
							font-weight:bold;
							line-height:64px;
							margin-bottom: 0px;
							text-align:center;
							word-break:break-all;
						}
						&>h3{
							margin:0px;
							font-size:33px;
							font-weight:400;
							line-height: 33px;
							word-break:break-all;
							text-align:center;
						}
						&>span{
							font-size:36px;
							font-weight:bold;
						}
					}
				}
				&.element__slider{
					border-right:3px solid #141414;
				}
			}
		}
		&>span{
			display: inline-flex;
			position: absolute;
			left: -15px;
			top:-15px;
			&>img{
				max-width:43px;
			}
		}
	}
}
.collection__wrapper--slide{
	width: 100%;
	position: relative;
	&>span{
		position: absolute;
		left: -9px;
		top:-9px;
		z-index: 2;
		&>img{
			max-width:43px;
		}
		display: inline-flex;
	}
}
.grid__collection .elem__collection .collection__info .collect__desc > h2{
	word-break: break-all;
	text-align:center;
	line-height: 37px;
}
.collection__wrapper{
	padding-top: 70px;
	& .outer__collection{
		& .head__collection{
			margin-bottom:50px;
			&>h2{
				margin:0px;
				font-size:50px;
				font-family:'Lores21' ,sans-serif;
				text-align:center;
			}
		}
	}
}
.grid__collection{
	display: grid;
	grid-template-columns:repeat(3 ,1fr);
	grid-column-gap:20px;
	grid-row-gap:50px;
	& .slick-dots{
		position: static;
		margin-top:35px;
		& li{
			width: auto;
			height: auto;
			margin:0px;
			padding:0px;
			margin-right: 7px;
			&:last-child{
				margin-right: 0px;
			}
			&.slick-active{
				& button{
					width: 59px;
					max-width:59px;
					min-width: 59px;
				}
			}
			& button{
				width:auto;
				height: auto;
				background-color:#000;
				min-width:8px;
				max-width:8px;
				min-height:8px;
				max-height:8px;
				border-radius:50px;
				transition:.4s ease all;
				&:before{
					content:none;
				}
			}
		}
	}
	& .elem__collection{
		overflow:hidden;
		& .collection__info{
			border:3px solid #141414;
			background-color:#fff;
			display: flex;
			width: 100%;
			border-radius:250px;
			padding:6px;
			margin-top: -30px;
			position: relative;
			z-index: 2;
			height: auto;
			min-height: 112px;
			text-align:center;
			text-decoration: none;
			& .collect__desc{
				display: flex;
				flex-direction:column;
				justify-content:center;
				align-items:center;
				width: 100%;
				padding-left: 90px;
				padding-right: 90px;
				&>h2{
					margin:0px;
					font-size: 37px;
					font-family:"Lores22" ,sans-serif;
				}
				&>h6{
					margin:0px;
					font-size:19px;
					font-weight:400;
				}
				&>span{
					font-size:21px;
					font-weight:bold;
				}
			}
			&>span{
				&.logo__collection{
					display: inline-flex;
					position: absolute;
					left: 6px;
					&>img{
						max-width: 94px;
					}
				}
			}
		}
		& .collection__top{
			padding-top: 80px;
			padding-bottom: 30px;
			width: 100%;
			height: 510px;
			& .collection__element{
				position: absolute;
				left: 0px;
				right: 0px;
				& .slide__el{
					display: flex;
					align-items:center;
					justify-content:center;
					padding-left:15px;
					padding-right:15px;
					&>img{
						max-width:100%;
						margin-left:auto;
						height: 315px;
						margin-right:auto;
						display: block;
						object-fit:contain;
					}
				}
			}
			& .quick__buy{
				right: 15px;
				top:25px;
				z-index: 2;
				&.opened{
					&>a{
						background-color:#141414;
						color:#fff;
					}
				}
				& .dropdown__quick{
					position: absolute;
					right: 0px;
					top:55px;
					&>ul{
						display: flex;
						flex-direction:column;
						justify-content:flex-end;
						align-items:center;
						list-style-type: none;
						margin:0px;
						padding:0px;
						&>li{
							margin-bottom: 7px;
							&.active__quick{
								&>a{
									background-color:#141414;
									color:#fff;
								}
							}
							&:last-child{
								margin-bottom: 0px;
							}
							&>a{
								&:hover{
									background-color:#141414;
									color:#fff;
								}
								min-width:36px;
								max-width:36px;
								min-height:36px;
								max-height:36px;
								transition:.4s ease all;
								display: inline-flex;
								align-items:center;
								justify-content:center;
								border:2px solid #141414;
								border-radius:250px;
								font-size: 18px;
								text-decoration: none;
							}
						}
					}
				}
				&>a{
					display: inline-flex;
					align-items:center;
					justify-content:center;
					min-width:150px;
					min-height:45px;
					border:3px solid #141414;
					border-radius:50px;
					color:#141414;
					text-decoration: none;
					font-size:26px;
					font-family:"Lores21" ,sans-serif;
					transition:.4s ease all;

					&:hover{
						background-color:#141414;
						color:#fff;
					}
				}
				position: absolute;
			}
			position: relative;
			&>span{
				position: absolute;
				top:-12px;
				left:-12px;
				display: inline-flex;
				&>img{
					max-width:43px;
				}
			}
			border:3px solid #141414;
			border-radius:35px;
			background-color:#fff;
		}
	}
}
header+.collection__wrapper{
	padding-top:35px;
}
footer .outer__footer .top__footer .footer__form form .field__wrapper .group__input > input{
	font-size:23px;
}
footer .outer__footer .top__footer .footer__form form .field__wrapper .group__submit > button{
	font-size:23px;
}
footer .outer__footer .top__footer .footer__links > .column__link > h6{
	font-size:23px;
}
.gallery__wrapper + footer{
	margin-top:0px;
}

@media (max-width:1640px){
	footer .outer__footer .top__footer .footer__form > p{
		font-size:20px;
		line-height:28px;
	}
	.grid__collection .elem__collection .collection__info .collect__desc{
		padding-left: 15px;
		padding-right:15px;
	}
	.grid__collection .elem__collection .collection__info > span.logo__collection{
		display: none;
	}
	.grid__collection .elem__collection .collection__info{
		height: auto;
	}
	footer .outer__footer .top__footer .footer__form{
		max-width: 480px;
	}
}
.mobile__collection{
	display: none;
}
@media (max-width:1440px){
	.mobile__collection{
		display: block;
	}
	.grid__collection{
		grid-template-columns:repeat(3 ,1fr);
	}
	.inner__element .outer__element .top__element > div.element__main form > h2{
		font-size:56px;
	}
	.inner__element .outer__element .top__element > div.element__main form > h3{
		font-size: 27px;
	}
	.inner__element .outer__element .top__element > div.element__main form > span{
		font-size: 30px;
	}
	.learn__more .outer__learn .learn__box{
		padding:80px 50px;
	}
	.learn__more .outer__learn{
		padding-top:60px;
		padding-bottom:100px;
	}
	.learn__more .outer__learn .learn__box{
		margin-top:50px;
	}
	footer .outer__footer .top__footer .footer__logo > a > img{
		max-width:200px;
	}
	.cart__wrapper .inner__cart .products__wrapper{
		max-height:10000px;
		height:calc(100% - 420px);
	}
	.cart__wrapper .inner__cart{
		padding-top:25px;
	}
	.cart__wrapper .inner__cart .cart__desc > h6{
		font-size:38px;
	}
	.cart__wrapper .inner__cart .cart__tip > p{
		font-size:24px;
	}
	.cart__wrapper .inner__cart .cart__bottom > button{
		height: 60px;
		font-size:38px;
	}
	.cart__wrapper .inner__cart .cart__bottom > p{
		font-size: 20px;
	}
	.cart__wrapper .inner__cart .cart__bottom > input{
		font-size: 20px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc > h6{
		font-size:20px;
		margin-bottom: -5px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc > span{
		font-size:20px;
	}
	header .header__menu ul > li > a{
		font-size:32px;
		line-height:32px;
	}
	header .header__menu > a{
		font-size:32px;
	}
	header .header__menu .cart__info > a{
		font-size:32px;
		& span{
			font-size:32px;
		}
	}
	header .header__menu .cart__info{
		top:3px;
	}
}
@media (max-width: 1200px){
	.learn__more .outer__learn .learn__box > .learn__left > h6{
		line-height: 29px;
	}
	.grid__collection{
		grid-template-columns:repeat(2 ,1fr);
	}
	.grid__collection .elem__collection .collection__info .collect__desc > h2{
		font-size: 29px;
	}
	.grid__collection .elem__collection .collection__info .collect__desc > h6{
		font-size:16px;
	}
	.grid__collection .elem__collection .collection__info .collect__desc > span{
		font-size: 18px;
	}
	.element__slider .slick-dotted.slick-slider{
		margin-bottom: 15px!important;
	}
	.inner__element .outer__element > span>img{
		max-width:33px;
	}
	.inner__element .outer__element > span{
		top:-9px;
		left: -9px;
	}
	.inner__element .outer__element .top__element{
		display: block;
		padding-bottom:30px;
	}
	.inner__element .outer__element .bottom__element{
		padding:35px 50px;
	}
	.inner__element .outer__element .top__element > div{
		width: 100%;
		padding:0px;
		&.element__slider{
			border-right:0px;
			padding:0px;
			padding-top:40px;
			padding-bottom:60px;
		}
	}
	.inner__element .outer__element .top__element > div.element__main form > span.logo__wrap{
		display: none;
	}
	.inner__element .outer__element .top__element > div.element__slider{
		padding-bottom:15px;
	}
	.inner__element .outer__element .top__element .slider__images .elem__slide{
		padding-left:15px;
		padding-right:15px;
		padding-top:50px;
		padding-bottom:50px;
	}
	.inner__element .outer__element .top__element .slick-dots{
		margin-top:15px;
	}
	.learn__more .outer__learn .learn__box > .learn__right form .field__wrapper{
		flex-direction:column;
	}
	.learn__more .outer__learn .learn__box > .learn__right form .field__wrapper .group__submit{
		margin-left: 0px;
		margin-top:15px;
	}
	.learn__more .outer__learn .learn__box > .learn__right form > span{
		font-size:48px;
	}
	.learn__more .outer__learn .learn__box > .spacer{
		margin:0px 35px;
	}
	.learn__more .outer__learn .learn__box > .learn__right > p{
		font-size:24px;
		line-height: 30px;
	}
	.learn__more .outer__learn .learn__box > .learn__left > h6{
		font-size:23px;
	}
	footer .outer__footer .top__footer .footer__links > .column__link{
		margin-right:45px;
	}
	footer .outer__footer .top__footer .footer__links > .column__link ul > li > a{
		font-size:22px;
	}
	footer .outer__footer .top__footer .footer__links > .column__link > h6{
		font-size:22px;
	}
	footer .outer__footer .top__footer .footer__form > p{
		font-size:20px;
		line-height: 28px;
	}
	footer .outer__footer .top__footer .footer__form form .field__wrapper{
		flex-direction:column;
	}
	footer .outer__footer .top__footer .footer__form form .field__wrapper .group__input{
		margin-right: 0px;
		width: 100%;
		margin-bottom:15px;
	}
	footer .outer__footer .top__footer .footer__form{
		max-width: 390px;
	}
	header .header__menu ul > li > a{
		font-size:26px;
		line-height:26px;
	}
	header .header__menu ul > li{
		margin-right:25px;
	}
	header .header__menu > a{
		font-size:26px;
		line-height:26px;
	}
	header .header__menu .cart__info > a{
		font-size:26px;
		& span{
			font-size:26px;
		}
	}
}
.cart__button{
	display: none;
}
.menu__button{
	display: none;
}
.small__link{
	display: none;
}
@media (max-width: 991px){
	header + .collection__wrapper{
		padding-top: 0px;
	}
	.collection__wrapper .outer__collection .head__collection > h2{
		font-size:40px;
	}
	.grid__collection .elem__collection .collection__top .quick__buy > a{
		font-size:22px;
		min-height:40px;
		min-width:130px;
	}
	.inner__element .outer__element .bottom__element .desc__product > p{
		font-size: 19px;
	}
	.inner__element .outer__element .top__element .slider__images .elem__slide{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.inner__element .outer__element .bottom__element{
		grid-template-columns:1fr;
		grid-row-gap:20px;
	}
	.inner__element .outer__element .bottom__element{
		padding:30px 15px;
	}
	.learn__more .outer__learn .learn__box{
		padding-bottom: 35px;
	}
	.learn__more .outer__learn .learn__box{
		padding-left:15px;
		padding-right:15px;
	}
	.learn__more .outer__learn .learn__box > .learn__left{
		max-width:100%;
	}
	.learn__more .outer__learn .learn__box > .learn__right{
		max-width:100%;
	}
	.learn__more .outer__learn .learn__box > .learn__left{
		&>h6{
			text-align:center;
		}
		&>p{
			text-align:center;
		}
	}
	.learn__more .outer__learn .learn__box > .learn__left .watermark{
		justify-content:center;
	}
	.learn__more .outer__learn .learn__box > .spacer{
		margin:50px 0px;
		width: 100%;
		max-width:440px;
		height: 2px;
	}
	.learn__more .outer__learn .learn__box > .learn__right form .field__wrapper{
		flex-direction:row;
		justify-content:center;
	}
	.learn__more .outer__learn .learn__box > .learn__right form .field__wrapper .group__submit{
		margin-left:15px;
		margin-top: 0px;
	}
	.learn__more .outer__learn .learn__box{
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	footer .outer__footer .top__footer .footer__logo{
		margin-bottom:50px;
	}
	.small__link{
		display: block;
		width: 100%;
		max-width:440px;
		& ul{
			padding:0px;
			list-style-type: none;
			margin:0px;
			margin-top:10px;
			display: flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			&>li{
				&>a{
					font-size:29px;
					color:#fff;
					font-weight:400;
					text-decoration: none;
				}
			}
		}
		&>a{
			font-size:29px;
			color:#fff;
			font-weight:400;
			text-decoration: none;
			text-decoration: none;
			display: flex;
			width: 100%;
			align-items:center;
			justify-content:flex-start;
			border-bottom:2px solid #fff;
			background:url('../img/arrow.png');
			background-repeat: no-repeat;
			background-size:14px;
			background-position:right;
		}
	}

	.bottom__footer{
		margin-top:50px;
	}
	footer{
		margin-top: 0px;
	}

	footer .outer__footer .top__footer{
		margin-bottom: 0px;
	}
	footer .outer__footer .top__footer .footer__links{
		display: none;
	}
	footer .outer__footer .top__footer .footer__form{
		max-width:440px;
		margin-top:50px;
	}
	footer .outer__footer .top__footer .footer__logo{
		position: static;
	}
	footer .outer__footer .top__footer{
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	footer{
		padding-top: 0px;
		padding-bottom:35px;
	}
	footer .outer__footer .top__footer .footer__logo{
		transform:none;
		margin-top:-122px;
	}
	footer .outer__footer .top__footer .footer__logo > a > img{
		max-width:245px;
	}
	.cart__wrapper{
		max-width:100%;
	}
	.gallery__wrapper{
		padding-top:40px;
	}
	.gallery__wrapper .outer__gallery{
		grid-template-columns:repeat(2 ,1fr);
	}
	header .header__top{
		justify-content:space-between;
	}
	header{
		margin-top:20px;
	}
	header .header__top .header__logo > a > img{
		max-width:208px;
	}
	.cart__button{
		display: inline-flex;
		min-width:40px;
		justify-content:flex-end;
		&>a{
			display: inline-flex;
			align-items:center;
			justify-content:center;
			&>img{
				max-width: 37px;
			}
		}
	}
	footer .outer__footer .top__footer .footer__form{
		max-width:580px;
		margin-top: 80px;
	}
	footer .outer__footer .bottom__footer{
		margin-top: 80px;
	}
	.small__link{
		max-width: 580px;
	}

	footer .outer__footer .top__footer .footer__form > p{
		font-size:29px;
		line-height:35px;
	}
	.menu__button{
		display: inline-flex;
		&>a{
			display: inline-flex;
			flex-direction:column;
			justify-content:center;
			&.active__menu{
				&>span{
					&:nth-child(1){
						transform:rotate(-45deg);
						top:7px;
					}
					&:nth-child(3){
						transform:rotate(45deg);
						bottom:7px;
					}
					&:nth-child(2){
						opacity:0;
					}
				}
			}
			&>span{
				width: 40px;
				background-color:#141414;
				height: 2px;
				position: relative;
				top:0px;
				bottom:auto;
				margin-bottom:5px;
				transition:.4s ease all;
				&:last-child{
					margin-bottom: 0px;
					top:auto;
					bottom:0px;
				}
			}
		}
	}
	.menu__button{
		display: inline-flex;
		&>a{
			display: inline-flex;
			flex-direction:column;
			justify-content:center;
		}
	}
	.top__info{
		padding:12px 0px;
	}
	header .header__menu{
		display: none;
	}
	.gallery__wrapper{
		padding-bottom:220px;
		padding-top: 80px;
	}
	footer .outer__footer .top__footer .footer__form > p{
		font-size: 20px;
		line-height:23px;
	}
	.small__link > a{
		font-size:23px;
	}
	.small__link ul > li > a{
		font-size:23px;
	}
}


@media (max-width: 767px){
	.collection__wrapper .outer__collection .head__collection > h2{
		font-size:32px;
	}
	.collection__wrapper{
		padding-top:40px;
	}
	.collection__wrapper .outer__collection .head__collection{
		margin-bottom:25px;
	}
	.grid__collection .elem__collection .collection__info .collect__desc > h2{
		font-size:23px;
	}
	.grid__collection .elem__collection .collection__info .collect__desc > h6{
		font-size:15px;
	}
	.grid__collection .elem__collection .collection__info .collect__desc > span{
		font-size:16px;
	}
	.grid__collection .elem__collection .collection__info{
		border-radius:50px;
	}
	.grid__collection{
		grid-template-columns:1fr;
	}
	.learn__more .learn__top .main__logos ul > li{
		margin-right:35px;
	}
	.learn__more .outer__learn{
		padding-top:40px;
		padding-bottom: 75px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__image{
		min-width:110px;
		max-width:110px;
		min-height:110px;
		max-height:110px;
		margin-right:15px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc > h6{
		font-size: 18px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc > span{
		font-size: 18px;
	}
	.cart__wrapper .inner__cart .products__wrapper{
		height: calc(100% - 370px);
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product{
		padding-left: 0px;
		padding-right: 0px;
	}
	.cart__wrapper .inner__cart .cart__tip > p{
		font-size: 20px;
	}
	.cart__wrapper .inner__cart .cart__bottom{
		padding-top:12px;
	}
	.cart__wrapper .inner__cart .products__wrapper{
		margin-top:20px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc .bottom__product .quantity{
		width: 100px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc .bottom__product .quantity > .minus__quantity{
		left: 0px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc .bottom__product .quantity > .plus__quantity{
		right: 0px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc .bottom__product .quantity > input{
		font-size:24px;
		line-height:24px;
		width: 100px;
		height: 40px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc .bottom__product{
		margin-top:12px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__image > img{
		max-height:110px;
	}
	.cart__wrapper .inner__cart .top__cart > .logo__wrapper > img{
		max-width: 150px;
	}
	.cart__wrapper .inner__cart .top__cart > .close__cart > img{
		max-width: 29px;
	}
	.cart__wrapper .inner__cart .cart__desc > h6{
		font-size: 29px;
	}
	.cart__wrapper .inner__cart .cart__bottom > button{
		height: 50px;
		font-size:24px;
	}
	.cart__wrapper .inner__cart .cart__bottom > p{
		font-size: 18px;
	}
	.cart__wrapper .inner__cart .cart__bottom > input{
		font-size: 18px;
	}
}
@media (max-width:640px){
	.inner__element .outer__element .top__element > div.element__main form > span{
		font-size:25px;
	}
	.inner__element .outer__element .top__element > div.element__main form > ul > li > a{
		font-size:22px;
		min-width:55px;
		max-width:55px;
		min-height:55px;
		max-height:55px;
	}
	.inner__element .outer__element .top__element > div.element__main form > ul{
		margin-bottom:35px;
	}
	.inner__element .outer__element .top__element > div.element__main form > h2{
		font-size:44px;
	}
	.inner__element .outer__element .top__element > div.element__main form > h3{
		font-size:23px;
	}
	.inner__element .outer__element .top__element > div.element__main form .quantity__wrapper .group__input > input{
		font-size:36px;
		height: 60px;
	}
	.inner__element .outer__element .top__element > div.element__main form .quantity__wrapper .group__submit > button{
		font-size:36px;
		height: 60px;
	}
	.learn__more .outer__learn .learn__box > .learn__right form .field__wrapper{
		flex-direction:column;
	}
	.learn__more .outer__learn .learn__box > .learn__right form .field__wrapper .group__submit{
		margin-left: 0px;
		margin-top:15px;
	}
	.gallery__wrapper{
		& .slick-prev{
			width: 21px;
			height: 43px;
			background:url('../img/leftarrow.png')!important;
			background-repeat: no-repeat!important;
			background-size: contain!important;
			background-position:center!important;
			left: 12px;
			z-index: 2;
			&:before{
				content:none;
			}
		}
		& .slick-next{
			width: 21px;
			height: 43px;
			background:url('../img/rightarrow.png')!important;
			background-repeat: no-repeat!important;
			background-size: contain!important;
			background-position:center!important;
			right: 12px;
			&:before{
				content:none;
			}
		}
		& .slick-slide {
		      margin: 0 15px;
		  }

		  /* the parent */
		&  .slick-list {
		      margin: 0 -15px;
		  }
	}
	.gallery__wrapper .outer__gallery{
		display: block;
	}
}
@media (max-width: 480px){
	.learn__more .learn__top .float__box .head__float > h6{
		letter-spacing: 1.35px;
	}
	.grid__collection .elem__collection .collection__top .collection__element .slide__el > img{
		height: 230px;
	}
	.grid__collection .elem__collection .collection__top{
		height: 420px;
	}
	.inner__element .outer__element .bottom__element .desc__product > p{
		font-size: 17px;
	}
	.inner__element .outer__element .top__element > div.element__main form .bottom__info > p{
		font-size: 17px;
	}
	.inner__element .outer__element .top__element > div.element__main form > h2{
		font-size:36px;
		line-height:36px;
	}
	.inner__element .outer__element .top__element > div.element__main form > h3{
		font-size: 19px;
	}
	.inner__element .outer__element .top__element > div.element__main form > span{
		font-size:21px;
	}
	.inner__element .outer__element .top__element > div.element__main form .quantity__wrapper .group__input > input{
		height: 50px;
		font-size: 28px;
	}
	.inner__element .outer__element .top__element > div.element__main form .quantity__wrapper .group__submit > button{
		font-size: 28px;
		height: 50px;
	}
	.learn__more .learn__top .float__box{
		max-width: 290px;
	}
	.learn__more .learn__top .float__box .content__float > p{
		font-size:13px;
		line-height: 17px;
	}
	.learn__more .learn__top .float__box .head__float > h6{
		font-size:13px;
	}
	.learn__more .outer__learn .learn__head > p{
		font-size: 19px;
	}
	.learn__more .learn__top{
		padding-bottom: 50px;
		padding-top: 70px;
	}
	.learn__more .learn__top .main__logos ul > li{
		margin-right:15px;
	}
	footer .outer__footer .top__footer .footer__logo{
		margin-bottom:35px;
	}
	footer .outer__footer .top__footer .footer__form > p{
		font-size:23px;
		line-height:29px;
	}
	footer .outer__footer .bottom__footer{
		margin-top:50px;
	}
	footer .outer__footer .top__footer .footer__form{
		margin-top:50px;
	}
	.small__link ul > li > a{
		font-size:23px;
	}
	.small__link > a{
		font-size:23px;
	}
	.group__input > input{
		font-size:23px;
	}
	footer .outer__footer .top__footer .footer__form form .field__wrapper .group__submit > button{
		font-size:23px;
	}
	footer .outer__footer .top__footer .footer__form form > p{
		font-size:14px;
	}
	footer .outer__footer .bottom__footer > p{
		font-size:14px;
	}
	.cart__wrapper .inner__cart .cart__bottom{
		padding-left:12px;
		padding-right:12px;
	}
	.cart__wrapper .inner__cart{
		padding-left:12px;
		padding-right:12px;
	}
	.cart__wrapper .inner__cart .products__wrapper{
		padding-right:15px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__image{
		min-width: 90px;
		max-width: 90px;
		min-height: 90px;
		max-height: 90px;
		&>img{
			max-height: 90px;
		}
	}
	.cart__wrapper .inner__cart .cart__bottom > p{
		font-size:15px;
	}
	.cart__wrapper .inner__cart .cart__bottom > input{
		font-size:15px;
	}
	.cart__wrapper .inner__cart .cart__bottom > button{
		font-size: 20px;
	}
	.cart__wrapper .inner__cart .products__wrapper{
		height: calc(100% - 325px);
	}
	.cart__wrapper .inner__cart .cart__tip > p{
		font-size:16px;
	}
	.cart__wrapper .inner__cart .cart__desc > h6{
		font-size:23px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc > h6{
		font-size:14px;
		margin-bottom: -5px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc .bottom__product > a{
		font-size:14px;
	}
	.cart__wrapper .inner__cart .products__wrapper > .elem__product > .product__desc > span{
		font-size:14px;
	}
	.learn__more .outer__learn .learn__box > .learn__right form > span{
		font-size:35px;
	}
	.learn__more .outer__learn .learn__box > .learn__right > p{
		font-size:20px;
		line-height:26px;
	}
	.learn__more .outer__learn .learn__box > .learn__left .watermark .watermark__desc > span{
		font-size: 38px;
	}
	.inner__element .outer__element .top__element > div.element__main form > h2{
		font-size: 30px;
		line-height: 30px;
	}
	.inner__element .outer__element .top__element > div.element__main form > h3{
		font-size: 17px;
	}
	.inner__element .outer__element .top__element > div.element__main form > span{
		font-size: 19px;
	}
	.inner__element .outer__element .top__element > div.element__main form > ul > li > a{
		font-size: 19px;
		min-height:45px;
		max-height:45px;
		min-width: 45px;
		max-width: 45px;
	}
	.inner__element .outer__element .top__element > div.element__main form > ul > li{
		margin:4px 3px;
	}
	.inner__element .outer__element .top__element > div.element__main form > ul{
		margin-left: -3px;
	}
}
@media (max-width: 440px){
	.top__info .outer__top > p{
		font-size:16px;
	}
	header .header__top .header__logo > a > img{
		max-width:140px;
	}
}
@media (max-width: 370px){
	.float__menu > .inner__float > ul > li > a{
		font-size: 30px;
	}
	.float__menu > .inner__float .button__cart > a{
		font-size:30px;
	}
	.float__menu > .inner__float .button__cart{
		max-width: 200px;
		margin-top: 20px;
	}
}